<div class="container-fluid">
  <div class="d-flex justify-content-start">
   <form class="form-inline">
    <div class="form-group xs-12 mx-3">
      <button type="button" class="btn btn-primary btn-lg"><%= link_to Add single clause, new_clause_path %></button>
      <%= link_to Add single clause, new_clause_path %>
    </div>
    <div class="form-group xs-12 m=5">
      <label for="sel1">Imported set of clauses</label>
      <select class="form-control" id="terms">
        <option>ASBATANKVOY standard</option>
        <option>SOMETHING ELSE standard</option>
        <option>ANOTHER standard</option>
      </select>
    </div>
  </form>
</div>


<div class="table-responsive">
 <table class="table-striped table borderless">
   <thead>
     <tr>
       <th>Parent</th>
       <th>Title</th>
       <th>Wording</th>
       <th class="adjust-width">Chronos ID</th>
       <th>Chronos ID</th>
     </tr>
   </thead>

   <tbody>
     <tr>
      <td>ASBATANKVOY standard</td>
      <td>LAYDAYS 5</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt nibh ut orci tincidunt, fermentum convallis ex mollis. Nam maximus viverra dolor eu consectetur. In sagittis malesuada rhoncus. Nulla eget tincidunt est. Nulla ut dictum sapien, eu efficitur leo. Aliquam in pharetra tortor, eget faucibus odio. Cras dolor diam, gravida id mi non, tincidunt egestas mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt nibh ut orci tincidunt, fermentum convallis ex mollis. Nam maximus viverra dolor eu consectetur. In sagittis malesuada rhoncus. Nulla eget tincidunt est. Nulla ut dictum sapien, eu efficitur leo. Aliquam in pharetra tortor, eget faucibus odio. Cras dolor diam, gravida id mi non, tincidunt egestas mauris.</td>
      <td>Label 1</td>
      <td>
       <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Action1 link</a>
        <a class="dropdown-item" href="#">Action2 link</a>
      </div>
    </td>
  </tr>
  <tr>
    <td>ASBATANKVOY standard</td>
    <td>LAYDAYS 5</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt nibh ut orci tincidunt, fermentum convallis ex mollis. Nam maximus viverra dolor eu consectetur. In sagittis malesuada rhoncus. Nulla eget tincidunt est. Nulla ut dictum sapien, eu efficitur leo. Aliquam in pharetra tortor, eget faucibus odio. Cras dolor diam, gravida id mi non, tincidunt egestas mauris.</td>
    <td>Label 1</td>
    <td>
     <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Action1 link</a>
      <a class="dropdown-item" href="#">Action2 link</a>
    </div>
  </td>
</tr>
<tr>
  <td>ASBATANKVOY standard</td>
  <td>LAYDAYS 5</td>
  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt nibh ut orci tincidunt, fermentum convallis ex mollis. Nam maximus viverra dolor eu consectetur. In sagittis malesuada rhoncus. Nulla eget tincidunt est. Nulla ut dictum sapien, eu efficitur leo. Aliquam in pharetra tortor, eget faucibus odio. Cras dolor diam, gravida id mi non, tincidunt egestas mauris.</td>
  <td>Label 1</td>
  <td>
   <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <a class="dropdown-item" href="#">Action1 link</a>
    <a class="dropdown-item" href="#">Action2 link</a>
  </div>
</td>
</tr>
</tbody>
</table>
</div>
</div>



