<div class="container-fluid px-6">

  <form class="form-inline">
    <%= link_to "ADD SINGLE CLAUSE", new_clause_path, class: "btn btn-primary btn-lg form-group mt-5 mb-3 mr-6" %>
    <div class="active-cyan-4">
        <input class="form-control form-group mt-5 mb-3" type="text" placeholder="Search" aria-label="Search" name="query">
    </div>
  </form>

  <%= render partial: "shared/clauses_table" %>

</div>



