<tr>
  <!-- Vessel -->
  <td class="align-middle">fixture.vessel_name</td>
  <!-- Voyage No. -->
  <td class="align-middle">fixture.voyage_number</td>
  <!-- Charterer -->
  <td class="align-middle">fixture.charterer</td>
  <!-- Demurrage Est. -->
  <td class="align-middle">fixture.total_demurrage</td>
  <!-- Fixture (Ref. No) -->
  <td class="align-middle">fixture.reference_no</td>
  <!-- Required -->
  <td class="align-middle">fixture.calculation_status</td>
  <!-- Documents -->
  <td class="align-middle">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Documents
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Incomplete</a>
        <a class="dropdown-item" href="#">Complete</a>
      </div>
    </div>
  </td>
  <!-- Voyage Status -->
  <td class="align-middle">..</td>
  <!-- + -->
  <td class="align-middle">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">First action</a>
        <a class="dropdown-item" href="#">Second action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </td>
</tr>


<!--       <tr>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">#######</td>
        <td class="align-middle">..</td>
        <td class="align-middle">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documents
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Incomplete</a>
              <a class="dropdown-item" href="#">Complete</a>
            </div>
          </div>
        </td>
        <td cl="" <td="" class="align-middle">..</td>
        <td class="align-middle">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">First action</a>
              <a class="dropdown-item" href="#">Second action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">..</td>
        <td class="align-middle">#######</td>
        <td class="align-middle">..</td>
        <td class="align-middle">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documents
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Incomplete</a>
              <a class="dropdown-item" href="#">Complete</a>
            </div>
          </div>
        </td>
        <td cl="" <td="" class="align-middle">..</td>
        <td class="align-middle">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">First action</a>
              <a class="dropdown-item" href="#">Second action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </td>
      </tr> -->
