<!-- Begin page content -->
<div class="container-fluid px-6">
  <button type="button" class="btn btn-primary btn-lg mt-5 mb-3">ADD VOYAGE</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vessel</th>
        <th>Voyage No.</th>
        <th>Charterer</th>
        <th>Demurrage Est.</th>
        <th>Fixture</th>
        <th>Required</th>
        <th>Documents</th>
        <th>Voyage Status</th>
        <th>+</th>
      </tr>
    </thead>
    <tbody>
      <% @fixtures.each do |fixture| %>
        <%= render partial: "shared/fixture_row", locals: { fixture: fixture } %>
      <% end %>
    </tbody>
  </table>
</div>
