<!-- Begin page content -->
<div class="container-fluid px-6">
  <button type="button" class="btn btn-primary btn-lg mt-5 mb-3">ADD VOYAGE</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vessel</th>
        <th>Voyage No.</th>
        <th>Charterer</th>
        <th>Demurrage Est.</th>
        <th>Fixture</th>
        <th>Required</th>
        <th>Documents</th>
        <th>Voyage Status</th>
        <th>+</th>
      </tr>
    </thead>


    <tbody>
      <!-- EXAMPLE -->
      <tr>
        <td class="align-middle">M/S Canard</td>
        <td class="align-middle">146</td>
        <td class="align-middle">SPL</td>
        <td class="align-middle">5 826,34</td>
        <td class="align-middle">2352135</td>
        <td class="align-middle">Invoicing</td>
        <td class="align-middle">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documents
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Incomplete</a>
              <a class="dropdown-item" href="#">Complete</a>
            </div>
          </div>
        </td>
        <td class="align-middle">0 | Voyage Complete</td>
        <td class="align-middle">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">First action</a>
              <a class="dropdown-item" href="#">Second action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </td>
      </tr>


<!--       <% @fixtures.each do |fixture| %>
        <%= render "shared/fixture_row" %>
      <% end %> -->


    </tbody>
  </table>
</div>
