<!-- Begin page content -->
<div class="container-fluid px-6">
  <%= render "fixture_new_modal" %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Vessel</th>
        <th>Voy</th>
        <th>Charterer</th>
        <th>Demurrage</th>
        <th>Fixture</th>
        <th>Required</th>
        <th>Documents</th>
        <th>Voyage Status</th>
        <th>+</th>
      </tr>
    </thead>
    <tbody>

      <% @fixtures.each do |fixture| %>
        <%= render "fixture_row", fixture: fixture %>
      <% end %>

    </tbody>
  </table>
</div>
