.fixtures {
  &__fixture-details {
    background-color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1%;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  &__fixture-cargo {
    background-color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1%;
    margin-bottom: 3rem;
  }

  &__fixture-clauses {
    background-color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1%;
    margin-bottom: 3rem;
  }
}
