// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  background-color: $white-smoke;
}

.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.mr-6 {
  margin-right: 4rem;
}

.modal.modal-wide .modal-dialog {
  max-width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
