<!-- Fixed footer -->
<footer class="footer footer-expand-lg footer-light bg-light">
  <div class="container-fluid mt-5 px-6 py-3">
    <span class="text-muted">Created by the <a href="#about">Chronos Team</a>.</span>
  </div>
</footer>
