<div class="port-events">
 <table class="table table-sm table-condensed table-hover">
  <h2><%= port %></h2>
    <% terminals.each do |terminal, events| %>
      <h4><%= terminal %></h4>
      <%= render "events_table_body", events: events %>
    <% end %>
  </table>
</div>


