<div class="port-events">
 <table class="table table-striped">
  <h2><%= port %></h2>
    <% terminals.each do |terminal, events| %>
      <h3><%= terminal %></h3>
      <%= render "events_table_body", events: events %>
    <% end %>
  </table>
</div>


