<div class="container-fluid px-6">
  <div class="voy-details">
    <h2 class="mt-5 mb-3">Voyage Details</h2>


  </div>

  <div class="fixture-view__loading">   <%# JavaScript uses this class to append new loading entries %>
    <h2 class="mt-3 mb-3">Loading</h2>



  </div>

  <div class="fixture-view__discharge"> <%# JavaScript uses this class to append new discharge entries %>
    <h2 class="mt-3 mb-3">Discharge</h2>



  </div>

  <div class="demurrage-summary">
    <h2 class="mt-5 mb-3">Summary</h2>


  </div>
</div>
