<div class="container-fluid px-6">
  <div class="voy-details">
    <h2 class="mt-5 mb-3">Voyage Details</h2>
    <div class="import-file">
      <%= form_tag import_fixture_events_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag 'Upload SOF' %>
      <% end %>
    </div>
  </div>
  <div class="events-tables">
    <% unless @events.nil? %>
      <% @events.each do |event| %>
        <%= render "events_table", event: event %>
      <% end %>
    <% end %>
  </div>
  <div class="demurrage-summary">
    <h2 class="mt-5 mb-3">Summary</h2>
  </div>
</div>
