<div class="container-fluid px-6">
  <div class="definitions">
  
    <div class="row mt-5">
      <h2 class="definitions__word">
        Laytime
      </h2>
    </div>
    
    <div class="row">
      <blockquote class="definitions__quotes">
      <h3 class="definitions__text">
        the period of time allowed by a shipowner to a carrier to carry out cargo loading or discharging operations 
      </h3>
      </blockquote>
    </div>
    
    <div class="row mt-5">
      <h2 class="definitions__word">
        Demurrage
      </h2>
    </div>

    <div class="row">
      <blockquote class="definitions__quotes">
      <h3 class="definitions__text">
        the compensation payable to a carrier of freight whose vehicle or vessel is
        delayed, as by failure to load or unload the freight within the time allowed
      </h3>
      </blockquote>
    </div>

  </div>
</div>
