<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../assets/images/ocean2.jpeg');">
  <div class="banner-content">
    <img class="banner-watermark" src="../assets/images/hourglass.png" alt="">
    <h1>CHRONOS</h1>
    <p>Fully automated laytime management system</p>
    <a href="" class="btn btn-landing">How it works</a>
  </div>
</div>

