/* Your banner CSS file */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 1vh => 1% of viewport height */
}

.banner-watermark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
  height: 100vh;
}

.banner-content{
  background-size: cover;
  letter-spacing: 4px;
}

.banner-content p {
  font-weight: lighter;
  margin-bottom: 50px;
  }

/*hourglass image original*/
/* https://www.kisspng.com/png-hourglass-water-stock-photography-bladder-4329045/ */
