$footer-height: 60px;

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrap {
  flex: 1;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
  background-color: #F5F5F5;
}

.custom-footer {
  background-color: $dark-gray;
  border-top: 2px solid #78C0E0;
  text-align: center;
}
